html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box; font-size:125%;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
img { width: 100%; display: block; height: auto;}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/pokemon-solid");

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(213, 0, 0);
    font-family: 'Open Sans', sans-serif;
    color: yellow;
    text-shadow: 5px 5px 0px #00077C;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pokemon Solid', sans-serif;
    color: yellow;
    text-shadow: 5px 5px 0px #00077C;
    font-size: 2rem;
    flex-direction: column;
}

.title h2{
    text-transform: capitalize;
}

.title form{
    font-size: 1rem;
}

.container{
    width: 90%;
    margin: auto;
    padding-top: 50px;
    display: flex;
}

.left-content,
.right-content{
    flex-basis: 50%;
}

.left-content{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-evenly;
    gap: 1rem;
    flex-direction: row;
}

.right-content{
    width: 50%;
    text-align: center;
    color: black;
    position: fixed;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
  }

.right-content img{
    width: 30%;
}

.display{
    width: 45%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: pointer;
    flex-direction: row;
}

.display h2{
    text-transform: capitalize;
}

.right-content h1{
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 5px;
    font-family: 'Pokemon Solid', sans-serif;
    color: yellow;
    text-shadow: 5px 5px 0px #00077C;
}

.infoContainer{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 75%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.types{
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    text-shadow: none;
    flex-direction: row;
}

.type{
    background-color: yellow;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 0.8rem;
    border-radius: 8px;
    width: 100%;
    margin-right: 10px;
    text-transform: capitalize;
    text-shadow: none;
}

.type h3{
    color: black;
    text-shadow: none;
}

.base-stats{
    margin-top: 2rem;
    text-transform: capitalize;
    color: yellow;
    text-shadow: 5px 5px 0px #00077C;
    padding-bottom: 1rem;
}

.btn-container{
    display: flex;
    width: 75%;
}

.btn-container button{
    outline: none;
    border: none;
    width: 100%;
    padding: 0.3rem 0;
    margin: 1rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: black;
    background-color: yellow;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 5px #00077C;
  }

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

  @media (max-width: 1600px){
    .display h2{
        font-size: 1rem;
    }
  }

  @media (max-width: 1300px){
    .left-content{
    flex-direction: column;
    }
    .left-content .display{
        width: 100%;
    }
    .left-content img{
        width: 50%;
    }
  }

  @media (max-width: 1200px) {

    .left-content,
    .right-content{
        flex-basis: none;
    }

    .left-content{
        flex-direction: column;
    }

    .display{
        width: 100%;
    }
  }

  @media (max-width: 700px){
    .container{
        flex-direction: column-reverse;
    }
    .right-content{
        position: static;
        width: 100%;
    }
    .left-content{
        width: 100%;
        margin-top: 50px;
    }

    .left-content img{
        width: 30%;
    }

    .btn-container{
        width: 100%;
    }

  }

  @media (max-width: 500px){
    .title{
        font-size: 1.5rem;
    }

    .display h2{
        font-size: 1.2rem;
    }

    .left-content img{
        width: 50%;
    }

    .infoContainer h1{
        font-size: 1.5rem;
    }

    .type h3{
        font-size: .7rem;
    }

    .base-stats{
        margin-top: 1rem;
        padding-bottom: 1rem;
    }

    .base-stats h4{
        font-size: .8rem;
    }
  }

  @media (max-width: 330px) {
    .type h3{
        font-size: .5rem;
    }
    .infoContainer h1{
        font-size: 1rem;
    }
  }